/node_modules
/public/jsons/step_logger.json
/public/hot
/public/js
/public/css
/public/storage
/public/phpmyadmin
/public/firebase-messaging-sw.js
/storage/*.key
/storage/laravel-excel-*.xlsx
/vendor
/code/espace/database/database.sqlite
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vapor/
.env.production
.env.staging
.env.development
.env.testing
.DS_Store
storage/debugbar
.vscode
composer.lock
package-lock.json
yarn.lock
smthing
.idea
.project_files
.git-credentials
*.swp
*.swo
tags
build-tags.sh
