<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        
        <testsuite name="Chargers">
            <directory suffix=".php">./tests/Unit/Chargers</directory>
        </testsuite>

        <testsuite name="Orders">
            <directory suffix=".php">./tests/Unit/Orders</directory>
        </testsuite>
        
        <testsuite name="ChargerConnectorTypes">
            <directory suffix=".php">./tests/Unit/ChargerConnectorTypes</directory>
        </testsuite>
        
        <testsuite name="Users">
            <directory suffix=".php">./tests/Unit/Users</directory>
        </testsuite>
        
        <testsuite name="Kilowatts">
            <directory suffix=".php">./tests/Unit/Kilowatts</directory>
        </testsuite>
        
        <testsuite name="ChargingProcess">
            <directory suffix=".php">./tests/Unit/ChargingFeedback</directory>
            <directory suffix=".php">./tests/Unit/ChargingApi</directory>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        
    </php>
</phpunit>
