<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="old">
            <directory suffix=".php">./tests/Unit/V1/Chargers</directory>
            <directory suffix=".php">./tests/Unit/V1/Orders</directory>
            <directory suffix=".php">./tests/Unit/V1/ChargerConnectorTypes</directory>
            <directory suffix=".php">./tests/Unit/V1/Users</directory>
            <directory suffix=".php">./tests/Unit/V1/Kilowatts</directory>
            <directory suffix=".php">./tests/Unit/V1/ChargingPrices</directory>
            <directory suffix=".php">./tests/Unit/V1/ChargingFeedback</directory>
            <directory suffix=".php">./tests/Unit/V1/ChargingApi</directory>
        </testsuite>

        <testsuite name="current">
            <directory suffix=".php">./tests/Feature/V2</directory>
            <directory suffix=".php">./tests/Unit/V2/BillingCalculator</directory>
            <directory suffix=".php">./tests/Unit/V2/ChargingFeedback</directory>
            <directory suffix=".php">./tests/Unit/V2/Repositories</directory>
            <directory suffix=".php">./tests/Unit/V2/Validators</directory>
            <directory suffix=".php">./tests/Unit/V2/ChargingApi</directory>
            <directory suffix=".php">./tests/Unit/V2/RealChargers</directory>

        </testsuite>

    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>

    </php>
</phpunit>
