.dashboard-content .card {
  position: relative;
}

.dashboard-content .card .content-page {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.3;
  transition: all 0.3;
}

.dashboard-content .card .content-page.active {
  opacity: 1;
}

.dashboard-navigation .card {
  cursor: pointer;
  position: relative;
}

.dashboard-navigation .card::after {
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dashboard-navigation .card.active::after {
  opacity: 0;
}

