@font-face{
  font-family: bpg-arial;
  src: url(../../fonts/bpg_arial_2009.ttf);
}

@font-face{
  font-family: nino-mtavruli;
  src: url('../../fonts/bpg_nino_mtavruli_normal.ttf');
}

.bpg-arial {
  font-family: bpg-arial;
}

.nino-mtavruli {
  font-family: nino-mtavruli;
}