.sidebar-logout-menu-item {
  position: absolute;
  width: 100%;
  bottom: 7em;
}

.espace-icon {
  width: 1.5em;
  position: relative !important;
  top: .3em;
  right: .3em;
}

.lang-switcher-container {
    margin-top: 2rem;
}

.lang-wrapper {
    padding: 1rem;
    margin-left: .2rem;
}

.lang-item {
    border: 1px solid white;
    border-radius: 10px;
    padding: .4rem;
    font-size: .8rem;
    color: white;

    &.active {
        background-color: white;
        color: #272727;
    }

    &:first-of-type {
        margin-right: .5rem;
    }
}
