.login-bg {
  background: #080822;
}

.custom-auth-btn {
  background-color: steelblue;
  left: 50% !important;
  transform: translateX(-50%);
  margin-bottom: 2em;
}

.custom-auth-btn:hover {
  background-color: darkslateblue;
}

.ml-4 {
  margin-left: auto !important;
  text-align: center;
}

.auth-error {
  color: indianred;
  font-size: 12px;
  padding-left: 1.5em;
}

.login-title {
  position: fixed;
  top: 1em;
  color: aliceblue;
}

input {
  border-radius: 20px !important;
  padding-left: 10px !important;
  border: 1px solid #a5a5a5 !important;
  padding-bottom: 1em !important;
  padding-top: 1em !important;
  height: auto !important;
}

.input-field.col label {
  left: 1.75rem;
  top: 0.3em;
}

.input-field > input[type]:-webkit-autofill:not(.browser-default) + label,
.input-field > input[type=date]:not(.browser-default) + label,
.input-field > input[type=time]:not(.browser-default) + label {
  transform: translateY(-24px) scale(0.8);
  transform-origin: 0 0;
}

.input-field > input[type]:-webkit-autofill:not(.browser-default) + label,
.input-field > input[type=date]:not(.browser-default) + label,
.input-field > input[type=time]:not(.browser-default) + label {
  transform: translateY(-24px) scale(0.8);
  transform-origin: 0 0;
}

.input-field > label:not(.label-icon).active {
  transform: translateY(-24px) scale(0.8);
  transform-origin: 0 0;
}

.input-field > label {
  transform: translateY(10px);
}

.input-field .prefix {
  top: 0;
}

@media (max-height: 725px) {
  .login-title {
    top: 0.5em;
  }
}
@media (max-height: 650px) {
  .login-title {
    top: 0em;
  }
}
@media (max-height: 600px) {
  .login-title {
    display: none;
  }
}