.open-modal-button {
  cursor: pointer;
}

.dropdown-content, 
.select-dropdown {
  font-family: bpg-arial;
}

.open-modal-button:hover {
  color: cadetblue;
}

.filter-btn {
  position: relative;
  top: .5em;
}

.left-2-em {
  left: 2em;
}