.view-link{
	color: gray;
}

.edit-link{
	color: #2087e0;
}

.delete-link{
	color: #d82222;
}

#toast-container {
	display: none !important;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.round {
    border-radius: 50%;
}

.color-white {
    color: white;
}

